---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Ztag from "@/components/Blog/Ztag.astro";
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths,
} from "astro";

import { formatDate, urlFromBase } from "@/lib/utils";

export const getStaticPaths = (async () => {
  const posts: any = await Astro.glob("@/pages/posts/*.md");
  const unique = [
    ...new Set(posts.map((post: any) => post.frontmatter.tags).flat()),
  ];
  return unique.map((tag) => {
    const filtered = posts.filter((post: any) =>
      post.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filtered },
    };
  });
}) as GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const base = import.meta.env.BASE_URL;

const { tag } = Astro.params as Params;
const { posts } = Astro.props as Props;
---

<BaseLayout pageTitle={tag}>
  <div class="flex flex-col gap-4">
    <a
      class="hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
      href={urlFromBase(base, "tags")}
    >
      {"▣ view all tags"}
    </a>
    <div class="h-full text-3xl font-bold my-4">
      #{tag} ({(posts as any[]).length})
    </div>
    <div class="flex flex-col font-sans">
      {
        (posts as any[]).map((post: any) => (
          <div class="flex flex-nowrap my-1 justify-between">
            <div class="flex grow flex-nowrap overflow-hidden whitespace-nowrap">
              <a
                class="font-semibold hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
                href={post.url}
              >
                {post.frontmatter.title}
              </a>
              <div>&ensp;::&ensp;</div>
              <div class="flex flex-nowrap gap-2 ">
                {post.frontmatter.tags.map((tag: any) => (
                  <Ztag tag={tag} />
                ))}
              </div>
            </div>
            <div class="shrink whitespace-nowrap">
              {formatDate(new Date(post.frontmatter.pubDate))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
