---
import Post from "./Post.astro";

const posts = await Astro.glob("../../pages/posts/*.md");
---

<div class="flex flex-col text-slate-300 font-sans">
  {
    posts.map((post) => (
      <Post
        url={post.url as string}
        file={post.file}
        title={post.frontmatter.title}
        desc={post.frontmatter.desc}
        date={post.frontmatter.date}
        tags={post.frontmatter.tags}
      />
    ))
  }
</div>
